:root {
    --bg: #202020;
    --bg2: #423c47;
    --normal: #dcdcdc;
    --normal2: #777;
    --heart: red;
    --blood: darkred;
    --almost: pink;
    --critical: darkgoldenrod;
    --boss: magenta;
    --finalBoss: darkmagenta;
}

body {
    background-color: var(--bg);
    color: var(--normal);
    margin: 5%;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}   

.ui {
    position: absolute;
    left: 0;
    right: 0;
    top: 5%;
    text-align: center;
}

.enemyUI {
    position: absolute;
    opacity: 0%;
    left: 0;
    right: 0;
    top: 35%;
    text-align: center;
    transition: 2s;
}

h3 {
    margin-bottom: -20px;
}

.lifeContainer {

    & .heartCount {
        display: flex;
        width: fit-content;
        margin: auto auto;
    }

    & .lifeBar {
        width: 200px;
        height: 25px;
        border-radius: 20px;
        border:  2px solid;
        z-index: 10;
    }

    & .lifeFill {
        position: absolute;
        z-index: 0;
        margin-top: 3px;
        margin-left: 1px;
        width: 200px;
        height: 23px;
        border-radius: 10px;
        background-color: var(--blood);
        transition: 1s;
    }
}

#narrations {
    opacity: 0%;
    transition: 1s;
}

.actions {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    bottom: 0px;
    left: 0;
    right: 0;
    padding: 20px;
    background-color: var(--bg2);


    & .accent {
        position: absolute;
        z-index: 99;
        top: -15px;
        background-color: var(--normal);
        height: 30px;
        width: 30px;
        border-radius: 50%;
        box-shadow: var(--critical) 0 0 0 5px;
    }

    & .accent:nth-child(2) {
        position: absolute;
        z-index: 98;
        top: 0px;
        background-color: var(--critical);
        height: 5px;
        width: 100%;
        border-radius: 0%;
        box-shadow: transparent 0 0 0 0;
    }


    & button {
        outline: none;
        cursor: pointer;
        border-radius: 8px;
        padding: 5px 20px;
        border: none;
        margin: 4px;
        width: 100px;
        max-height: 120px;
        font-size: 1rem;
        background-color: var(--normal);

        &:disabled {
            background-color: var(--normal2);
            cursor: not-allowed;
        }
        & svg {
            height: 50%;
            width: 50%;
            max-width: 100px;
            max-height: 100px;
        }
    }

    .menu{
        position: absolute;
        top: -50px;
            & button {
                margin: 20px;
                font-size: 0.75rem;
                width: 90px;            }
    }

}

#enemyName,
#playerName {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    margin-left: 0px;
    transition: 0.1s;
}

#nameInput {
    display: block;
    position: absolute;
    width: 90%;
    top: 25%;
    text-align: center;

    & #playerNameInput {
        text-align: center;
    }
}

.overlay{
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;
    z-index: 9999;
    background-color: rgba(5, 5, 5, 0.5);
    height: 100dvh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.overlay2{
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;
    z-index: 9999;
    background-color: rgba(5, 5, 5, 0.5);
    height: 100dvh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.deadMessage{
    border: var(--normal2) solid 2px;
    background-color: var(--bg2);
    width: 300px;
    padding: 10px;
    text-align: center;
    border-radius: 20px;

        & h2 {
            margin-top: 0px;
            color: var(--heart);
        }

        & h5 {
            text-align: left;
            margin-left: 5px;
        }

        & button {
            width: 100px;
            height: 30px;
            background-color: transparent;
            color: var(--normal);
            border: var(--normal) solid 2px;
            border-radius: 20px;
            font-size: 0.9rem;
            margin: 5px;
            transition: 0.2s;

            
            &:hover {
                width: 120px;
                color: var(--bg);
                border-color: var(--bg);
                background-color: var(--normal);
            }
        }
}

.menuOverlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg2);
    width: 200px;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: var(--normal2) solid 2px;

        & button {
            width: 170px;
            height: 40px;
            background-color: transparent;
            color: var(--normal);
            border: var(--normal) solid 2px;
            border-radius: 20px;
            font-size: 0.9rem;
            margin: 5px;
}
}